{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}Dances{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}dances/css/dances.css" />
{% endblock %}

{% block subnav %}
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url dance_add %} ">{% trans "Add a Dance" %}</a></li>        
            <li><a href="{% url your_dances %} ">{% trans "Your Dances" %}</a></li>
        {% endif %}
        <li><a href="{% url dance_list %}">{% trans "All Dances" %}</a></li>
    </ul>
{% endblock %}
