{% extends "dances/base.html" %}

{% load i18n %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans %}Dances{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Dances" %}</h1>
    
    {% autopaginate dances 10 %}
    {% if dances %}
        <dl>
        {% for dance in dances %}
        
            <dt>
                <a href="dance/{{ dance.slug }}/wall">{{ dance.name }}</a> 
            </dt>
            <dd>{{ dance.slug }}</dd>
            <dd>{{ dance.description|safe }}</dd>            
        {% endfor %}
        </dl>
        {% paginate %}
    {% else %}
        <p>There are no dances yet.</p>
    {% endif %}
    
{% endblock %}
