{% extends "dances/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans %}Dance Form{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% trans "Dance Form" %}</h1>
    
    {% with form.helper as helper %}
        {% uni_form form helper %}
    {% endwith %}

    
{% endblock %}

{% block extra_body %}
	<script type="text/javascript">
	
    	$().ready(function() {
    	    
    	    // profile form handler things
            $('#id_slug').focus();

    	});
	</script>   
    	    
{% endblock %}